# Default ignored files
/shelf/
/workspace.xml
/deploymentTargetSelector.xml
/kotlinc.xml
/migrations.xml
/other.xml
/AndroidProjectSystem.xml
/appInsightsSettings.xml
/runConfigurations.xml
/inspectionProfiles/Project_Default.xml
/copilot.*
